$dark-grey-color: #343a40;
$light-color: #ced4da;
$hover-color: #495057;
$grey-color: #6c757d;
$yellow-color: #e9c46a;
$red-color: #e76f51;

$xsmall-devices: 480px;
$small-devices: 768px;
$medium-devices: 1024px;
$large-devices: 1280px;

@mixin form($color: $light-color, $bg-color: $dark-grey-color) {
  background-color: $bg-color;
  color: $color;
  padding: 10px;
  font-size: 20px;
  border-bottom: 2px solid $color;
  transition: .5s all;
}

@mixin button($color: $light-color) {
  border: none;
  background-color: inherit;
  color: $color;
  transition: .5s all;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
